.companyPage {
    height: 100vh;
    width: 100vw;

    .body {
        position: relative;
        background-color:#1E3458;
        height: 87.5vh;
        // padding: 4vh 2.5vw 0 2.5vw;
        /* font-weight: 600; */

        .company{
            font-weight: 400;
            font-size: 40px;
            color: #FFFFFF;
        }
    }
}
