.jobPage {
    width: 100vw;
    height: 100vh;

    .body {
        position: relative;
        background-color:#1E3458;
        height: 87.5vh;
        padding: 2.5vh 2.5vw 0 2.5vw;
        /* font-weight: 600; */
        font-family: 'Inter';
        font-style: normal;

        .bg {
            margin-top: 1vh;
            background-color: #e5e5e5;
            border-radius: 10px;
            height: 82vh;
            box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);

            .left {
                display: inline-flex;
                float:left;
                width: 47.5vw;
                height: 82vh;
                flex-direction: column;

                .name {
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 55px;
                    color: #000000;
                    padding-left: 2vw;
                    padding-block: 2vh;
                }

                .company {
                    font-weight: 400;
                    font-size: 25px;
                    color: #000000;
                    margin-left: 2vw;
                }

                .salary {
                    font-weight: 400;
                    font-size: 25px;
                    color: #c51e1e;
                    margin-left: 2vw;
                }

                .content-title {
                    font-weight: 600;
                    font-size: 25px;
                    color: #000000;
                    margin-left: 4vw;
                    margin-top: 5vh;
                    margin-bottom: 1vh;
                }

                .content-box {
                    flex-grow: 1;
                    background-color: #D3DDE6;
                    width: 42vw;
                    height: auto;
                    border-radius: 20px;
                    margin-left: 2vw;
                    margin-bottom: 3vh;

                    .content {
                        overflow: scroll;
                        font-weight: 400;
                        font-size: 20px;
                        color: #000000;
                        padding-inline: 2vw;
                        padding-top: 2vh;
                        height: calc(100% - 4vh);
                    }
                    .content::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            .right {
                display: inline-block;
                width: 45vw;
                
                .require-title {
                    font-weight: 600;
                    font-size: 25px;
                    color: #000000;
                    margin-left: 4vw;
                    margin-top: 5vh;
                    margin-bottom: 1vh;
                }

                .require-box {
                    background-color: #D3DDE6;
                    width: 42vw;
                    height: 20vh;
                    border-radius: 20px;
                    margin-left: 2vw;

                    .require {
                        overflow: scroll;
                        font-weight: 400;
                        font-size: 20px;
                        color: #000000;
                        margin-inline: 2vw;
                        padding-top: 2vh;
                        height: 16vh;
                    }
                    .require::-webkit-scrollbar {
                        display: none;
                    }
                }

                .map {
                    box-sizing: border-box;
                    width: 42vw;
                    height: 20vh;
                    margin-top: 2vh;
                    margin-bottom: 1vh;
                    margin-left: 2vw;
                    border-radius: 20px;
                    border: 1px solid #A3A3A3;
                    box-shadow: inset 1px 4px 3px rgba(0, 0, 0, 0.2);
                }

                .info-title-box {
                    margin-bottom: 1vh;

                    .info-title {
                        display: inline;
                        font-weight: 600;
                        font-size: 25px;
                        color: #000000;
                        margin-left: 4vw;
                        
                    }

                    .welfare {
                        display: inline;
                        color: #BF7373;
                        font-weight: 400;
                        margin-left: 1vw;
                    }
                }

                .info-box {
                    background-color: #D3DDE6;
                    width: 42vw;
                    height: 20vh;
                    border-radius: 20px;
                    margin-left: 2vw;

                    .info {
                        overflow: scroll;
                        font-weight: 400;
                        font-size: 20px;
                        color: #000000;
                        margin-inline: 2vw;
                        padding-top: 2vh;
                        height: 16vh;
                    }
                    .info::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }

        .cancel {
            background-color: #a7a7a7;
            border-radius: 50%;
            width: 8vh;
            height: 8vh;
            position: absolute;
            line-height: 8vh;
            text-align: center;
            top: 1.5vh;
            right: 1vw;
            box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);

            font-size: 6vh;
            color: #e4e4e4;
        }
    }
}