.Filter{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/* body */
.body {
    background-color:#1E3458;
    height: 90%;
}

.body .bodyheader {
    background-color: #9FA6B8;
    height: 70px;
    width: 600px;
    line-height: 70px;
    text-align: center;
    margin: auto;
}

.body .choices {
    background-color: #8F8D8D3D;
}
.body .title {
    background: #FFFFFF;
}
.body .ch {
    background: #E8E5E5;
}

/* <div className="Filter">
<div className="header">
    <img src={require("../images/職人交響曲.png")} alt="職人交響曲"></img>
</div>
<div className="body">
    <div className="header">工作篩選</div>
</div>
<div className="type">
    <div className="title">行業類別</div>
    {choosed[choices[0]] ? <div className="ch1">{choices[0]}</div> : <div className="ch2">_{choices[0]}</div>}
    <div className="ch">{choices[1]}</div>
</div>
<div className="wage">
    <div className="title">薪資分類</div>
    <div className="ch">{choices[2]}</div>
    <div className="ch">{choices[3]}</div>
</div>
<div className="place">
    <div className="title">工作地區</div>
    <div className="ch">{choices[4]}</div>
    <div className="ch">{choices[5]}</div>
    <div className="ch">{choices[6]}</div>
    <div className="ch">{choices[7]}</div>
    <div className="ch">{choices[8]}</div>
    <div className="ch">{choices[9]}</div>
</div>
</div> */