.Home{
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .content {
        position: relative;

        .pic {
            position: relative;
            width: 100%; 
            z-index: -1;
        }    
    }

    .text {
        position: absolute;
        top: 92vh;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        width: 100vw;
        text-align: center;
        letter-spacing: 0.35em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.91);
    }

    .btn {
        position: absolute;
        top: 75vh;
        left: 41vw;
        width: 18vw;
        height: 8vh;
        background-color: #A89278;
        font-weight: 500;
        color: #FFFFFF;
        font-size: 30px;
        line-height: 8vh;
        text-align: center;
        border-radius: 80px;
        box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.4);
    }
}