.Home{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.Home .content {
    position: relative;
}
.Home .content .pic {
    position: relative;
    width: 100%; 
}

.Home .content .btn {
    position: absolute;
    width: 282px;
}