.Jobs {
    width: 100vw;
    height: 100vh;

    .body {
        position: relative;
        background-color:#1E3458;
        height: 87.5vh;
        padding: 2.5vh 2.5vw 0 2.5vw;
        /* font-weight: 600; */
        .back {
            color: #FFFFFF;
            margin-bottom: 3vh;
            font-size: 20px;
        }
        .filters {
            background-color: rgba(218, 201, 179, 0.38);
            border-radius: 5px;
            height: auto;
            width: 43vw;
            padding: 0 1vw;
            overflow: scroll;
            white-space: nowrap;
            color: #7E7E7E;
            font-size: 20px;
            .f { 
                margin: 1vh 0.5vw;
                padding: 0.5vh 1vw;
                display: inline-block;
                background-color: #F5F3F3;
                border-radius: 10px;
                .x {
                    display: inline;
                    margin-right: 0.5vw;
                }
            }
        }
        .filters::-webkit-scrollbar {
            display: none;
        }
        .jobs {
            overflow-y: scroll;
            width: 45vw;
            // background-color: #FFE194;
            .j {
                background-color: #FFFFFF;
                margin: 2vh 0 ;
                padding: 2vh 1vw;
                border-radius: 5px;
                font-size: 22px;
                color: #454545;
                position: relative;
                .jc {
                    display: block;
                    width: 100%;
                }
                .name {
                    color: #0B0B0B;
                    font-size: 32px;
                    margin-right: 3vw;
                    float: left;
                }
                .req {
                    float: right;
                }
                .num {
                    color: #DA8787;
                    
                }
                .comp {
                }
                .pla {
                }
                .sal {
                    color: #B20000;
                }
                .save {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: solid 1px #636363;
                }
                .y {background-color: #FFE194;}
            }
        }
        .jobs::-webkit-scrollbar {
            display: none;
        }
    }
}